* {
     box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.container {
    width: 100%;
    max-width: 420px;
}

.form-box {
    background: #ffffff;
    padding: 5px 35px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    text-align: center;
}

p {
    font-size: 30px;
    color: #1e3c72;
}
.input-group {
    text-align: left;
}

.input-group label {
    color: #333;
    font-size: 16px;
}

.input-group input {
    width: 100%;
    padding: 14px 16px;
    border: 2px solid #6f859f;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s;
    
}

.input-group input:focus {
    border-color: #2a5298;
    box-shadow: 0 0 0 5px rgba(42, 82, 152, 0.15);
}

button {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    transition: 0.3s;
    border: none;

}


button:hover{
    transform: translateZ(0px) scale(1.05);
}

button:hover {
    background: linear-gradient(135deg, #274cf3 0%, #7833bd 100%);
}
.TransformInput:hover{
    transform: translate(0px) scale(1.06);
}